__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
ENV/
.env

*.pkl
*.pt
*.pth

.ipynb_checkpoints/

backend/data/*
!backend/data/.gitkeep
backend/models/*
!backend/models/.gitkeep

*.db
*.sqlite
*.sqlite3

.DS_Store
